<nav class='navbar navbar-expand-lg navbar-light bg-light'>
	<div class='collapse navbar-collapse' id='navbarNav'>
		<ul class='navbar-nav'>
			<li class='nav-item active'>
				<a class='nav-link' href='/content/home'>Home</a>
			</li>
			<li class='nav-item'>
				<a class='nav-link' href='/content/profile'>Mi perfil</a>
			</li>
			<li class='nav-item'>
				<a class='nav-link' href='/content/cart'>Carrito</a>
			</li>
		</ul>
	</div>
	<div>
		<a href='/user/logout'>
			<button id='logout' class='btn btn-secondary'>Desloguear</button>
		</a>
	</div>
</nav>